@charset "utf-8";
/* CSS Document */

#colorDiff {
	color:white;
	padding:0px 16px 0px 6px;
	font-size: 18px
}
body {
  background-color:rgba(191,191,191,1.00);
  font-family:Arial;
}
.sidenav {
  height:100%;
  width:200px;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#000000;
  overflow-x:hidden;
  padding-top:20px;
}
.sidenav a, .dropdown-btn {
  padding:6px 8px 6px 16px;
  text-decoration:none;
  font-size:20px;
  color:#ffffff;
  display:block;
  border:none;
  background:none;
  width:100%;
  text-align:left;
  cursor:pointer;
  outline:none;
}
.sidenav a:hover, .dropdown-btn:hover {
  border-left:3px solid #ffffff;
  background-color:gray;
}
.main {
  margin-left:200px; 
  font-size:20px; 
  padding:5px 10px 0px 10px;
}
.active {
	border-left:3px solid rgb(100,255,50);
}
#activeAlt{
	border-left:3px solid rgb(100,255,50);
}
.dropdown-container {
  display:none;
  background-color:#262626;
  padding-left:0px;
}
.fa-caret-down {
  float:right;
  padding-right:8px;
}
@media screen and (max-width:850px) {
.sidenav {
  height:inherit;
  width:inherit;
  position:inherit;
  z-index:inherit;
  top:inherit;
  left:inherit;
  overflow-x:inherit;
  padding-top:15px;
}
.main {
  margin-left:0px;  
}
.fa-caret-down {
  float:right;
  padding-right:8px;
}
}